<html lang="en">
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <title>Football ticket</title>
 <%= stylesheet_link_tag :blank, media: "all" %>
 <style>
    body {font-family: "Lato", sans-serif}
    .mySlides {display: none}
  </style>
 <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <div class="container-fluid">
    <div class="container">
      <%= render "flashes" -%>
    </div>
    <!-- Navbar -->
    <div class="w3-top">
      <div class="w3-bar w3-black w3-card">
        <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
        <%= link_to "HOME", root_path, class: "w3-bar-item w3-button w3-padding-large" %>
        <%= link_to "RESULT", results_path, class: "w3-bar-item w3-button w3-padding-large w3-hide-small" %>
        <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>
        <% unless current_customer.present? %>
          <a data-toggle="modal" data-target="#loginModal" class="w3-bar-item w3-button w3-padding-large w3-right">LOG IN</a>
        <% else %>
          <div class="w3-dropdown-hover w3-hide-small w3-right" style="padding-right: 50px;">
            <button class="w3-padding-large w3-button" title="My info"> MY INFO <i class="fa fa-caret-down"></i></button>     
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
              <%= link_to 'My orders', my_orders_path, class: "w3-bar-item w3-button" %>
              <%= link_to 'My profile', my_profile_path, class: "w3-bar-item w3-button" %>
              <%= link_to 'Log out', destroy_customer_session_path, method: :delete, class: "w3-bar-item w3-button" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
  <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
    <%= link_to "RESULT", results_path, class: "w3-bar-item w3-button w3-padding-large" %>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT</a>
  </div>

    <div class="w3-content" style="max-width:2000px;margin-top:46px">
      <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
        <h2 class="w3-wide">Premier League ticket booking</h2>
        <p class="w3-justify">The Premier League (often referred to as the English Premier League (EPL) outside 
        England), is the top level of the English football league system. Contested by 20 clubs, it operates on a system of promotion and relegation with the English Football League (EFL).
        The Premier League is a corporation in which the member clubs act as shareholders. Seasons run from 
        August to May with each team playing 38 matches (playing each other home and away). Most games are played on Saturday and Sunday afternoons. The Premier League has featured 47 English
        and two Welsh clubs since its inception, making it a cross-border league.</p>
      </div>

      <%= yield %>
      <br><br>
      <!-- Automatic Slideshow Images -->
      <div class="mySlides w3-display-container w3-center">
        <%= image_tag 'premier2.jpg', style: "width:50% ; height: 400px;" %>
      </div>
      <div class="mySlides w3-display-container w3-center">
        <%= image_tag 'premier3.jpeg', style: "width:50% ; height: 400px;" %>
      </div>
      <div class="mySlides w3-display-container w3-center">
        <%= image_tag 'premier4.jpg', style: "width:50% ; height: 400px;" %>
      </div>

    </div>
  </div>
  <!-- Footer -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center">CONTACT</h2>
    <p class="w3-opacity w3-center"><i>Fan? Drop a mail!</i></p>
    <div class="w3-row w3-padding-64 w3-center">
      <i class="fa fa-map-marker" style="width:30px"></i> Ho Chi Minh City, VN<br>
      <i class="fa fa-phone" style="width:30px"></i> Phone: +84 123123123<br>
      <i class="fa fa-envelope" style="width:30px"> </i> Email: diepsohung@gmail.com<br>
    </div>
  </div>

  <footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </footer>
  <%= javascript_include_tag :application %>
  <%= render "javascript" %>
  <%= render "css_overrides" %>
  <%= render "customers/sessions/new" %>
</body>

<script>
// Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 4000);    
}

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>
</html>
